body {
    background:#989898;
    font-family:sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 7px;
    background: #92a8d1;
    border: radius 5px;
    box-shadow: 5px 5px;
}

.assignment img {
    width: 200px;
    padding: 10px;
    border:1px dashed #034f84;
    display: block; 
    margin: auto;   
}

.assignment img:hover {
    border: 2px dashed #034f84;
}

h1 {
    color:black;
    text-align: center;
}

h1:hover {
    color: #034f84;
}

h2 {
    text-align: center;
}

a {
    color:white;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    color:black
}